<div class="container">    
    <div class= "center jumbotron">
        <p>Feel free to contact me anytime at c.siegel1991@gmail.com</p>
        <h1>FIGURE OUT FORMS FOR THIS STUFF!!  ITS IN THE BOOK BRUH THIS SHOULD BE SOME BALLER PRACTICE</h1>
    </div>
</div>    