<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>This is the home page for my sample application!!!</h1>

<h2>Good stuff!  :)</h2>
<p>For now we're just gonna throw some random static html in here!</p>
<p>We need to familiarize ourselves with CSS, so this is probably where we're gonna do it.</p>
</div>
<p>This site written in <%=link_to image_tag("rails.png", alt:"Rails logo"), 'http://rubyonrails.org/' %></p>
<p>check out (LOL! Version control puns!) the latest code for my site <%= link_to "right here!", "https://github.com/blarmon/My-Page" %></p>