<% provide(:title, "Portfolio") %>
<div class="container">
    <div class="jumbotron">
        <%= link_to "My Github!!", "http://www.github.com/blarmon" %>
        <ul>Some of my favorite projects!
            <li>A different project</li>
            <li>something else still</li>
            <li>I'm getting there!</li>
        </ul>
    </div>
</div>