@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: -20px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

.aboutimage {
width:auto;
float: left;
margin-right: 70px;
//margin-bottom:150px;
}

.textdiv{
width: 500px;
float: left;
height: 300px;
text-align: left;
}

.clear {
clear: both;
}

.logo {
    font-size: 24;
}